@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0D0D0D;
  --foreground: #F0F1F2;
  --main: #3385A6;
  --secondary: #07B0F2;
  --shadow: #262F40;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
